* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background-image: url(wp2747935-black-4k-wallpapers.jpg);
}
header {
  border-radius: 15px;
  border: color(srgb red green blue);
  background-color: #4a4a4a;
  height: 120px;
}

h1 {
  text-shadow: 5px 5px 5px white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 80px;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  float: right;
  margin-top: 20px;
  margin-right: 500px;
  font-size: 25px;
}
nav a:link {
  margin: 35px;
  margin-top: 10px;
  text-decoration: none;
}

.home {
  box-shadow: 8px 8px 8px;
  padding-top: 15px;
  text-align: center;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: aqua;
  border: color(srgb red green blue);
  background-color: #353935;
}
.home :hover {
  color: black;
}
.about {
  box-shadow: 8px 8px 8px;
  padding-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  color: aqua;
  border: color(srgb red green blue);
  background-color: #353935;
}
.about :hover {
  color: black;
}
.services {
  box-shadow: 8px 8px 8px;
  padding-top: 15px;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 150px;
  color: aqua;
  border: color(srgb red green blue);
  background-color: #353935;
}
.services :hover {
  color: black;
}
.project {
  box-shadow: 8px 8px 8px;
  padding-top: 15px;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 150px;
  color: aqua;
  border: color(srgb red green blue);
  background-color: #353935;
}
.project :hover {
  color: black;
}
.blog {
  box-shadow: 8px 8px 8px;
  padding-top: 15px;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 150px;
  color: aqua;
  border: color(srgb red green blue);
  background-color: #353935;
}
.blog :hover {
  color: black;
}
.login {
  box-shadow: 8px 8px 8px;
  padding-top: 15px;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 150px;
  color: aqua;
  border: color(srgb red green blue);
  background-color: #353935;
}
.login :hover {
  color: black;
}

.hello {
  margin-top: 100px;
  font-size: 60px;
  color: white;
}
.dev {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 80px;
  color: aqua;
}
.senior {
  margin-top: 30px;
  font-size: 30px;
  color: white;
}
.download {
  margin-top: 50px;
  border-radius: 10px;
  font-size: 30px;
  width: 200px;
  background-color: orangered;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: beige;
}
.me {
  border-radius: 10px;
  margin-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: red;
  color: beige;
}

div {
  margin-left: 100px;
  float: left;
  border: color(srgb red green blue);
  width: 20%;
}
img {
  width: 1150px;
  margin-left: 700px;
  margin-top: 100px;
}
.profile {
  width: 100px;
  padding: 10px 800px;
}
